---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/tgraham777/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1441998414'
      Last-Modified:
      - Fri, 11 Sep 2015 03:41:14 GMT
      Etag:
      - W/"8749833b1deb39451e1ee3f9c3ad34fa"
      X-Poll-Interval:
      - '60'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/10191383/events?page=2>; rel="next", <https://api.github.com/user/10191383/events?page=10>;
        rel="last"
    body:
      encoding: UTF-8
      string: '[{"id":"3138367066","type":"PushEvent","actor":{"id":10191383,"login":"tgraham777","gravatar_id":"","url":"https://api.github.com/users/tgraham777","avatar_url":"https://avatars.githubusercontent.com/u/10191383?"},"repo":{"id":42137496,"name":"tgraham777/git-it-and-quit-it","url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it"},"payload":{"push_id":788967067,"size":2,"distinct_size":1,"ref":"refs/heads/master","head":"84e53492820cbb7c6f34be150363d271776bd2e5","before":"7923f4e116de22c3a98a2a31128e10124d5ddc20","commits":[{"sha":"f2c7208ddb683ffaee335b8de77cda5e35798058","author":{"email":"tylergraham134@gmail.com","name":"Tyler
        Graham"},"message":"finishes dashboard styling","distinct":false,"url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/commits/f2c7208ddb683ffaee335b8de77cda5e35798058"},{"sha":"84e53492820cbb7c6f34be150363d271776bd2e5","author":{"email":"tylergraham134@gmail.com","name":"Tyler
        Graham"},"message":"Merge pull request #32 from tgraham777/styling\n\nfinishes
        dashboard styling","distinct":true,"url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/commits/84e53492820cbb7c6f34be150363d271776bd2e5"}]},"public":true,"created_at":"2015-09-11T10:41:14Z"},{"id":"3138367050","type":"PullRequestEvent","actor":{"id":10191383,"login":"tgraham777","gravatar_id":"","url":"https://api.github.com/users/tgraham777","avatar_url":"https://avatars.githubusercontent.com/u/10191383?"},"repo":{"id":42137496,"name":"tgraham777/git-it-and-quit-it","url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it"},"payload":{"action":"closed","number":32,"pull_request":{"url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/pulls/32","id":44768586,"html_url":"https://github.com/tgraham777/git-it-and-quit-it/pull/32","diff_url":"https://github.com/tgraham777/git-it-and-quit-it/pull/32.diff","patch_url":"https://github.com/tgraham777/git-it-and-quit-it/pull/32.patch","issue_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/issues/32","number":32,"state":"closed","locked":false,"title":"finishes
        dashboard styling","user":{"login":"tgraham777","id":10191383,"avatar_url":"https://avatars.githubusercontent.com/u/10191383?v=3","gravatar_id":"","url":"https://api.github.com/users/tgraham777","html_url":"https://github.com/tgraham777","followers_url":"https://api.github.com/users/tgraham777/followers","following_url":"https://api.github.com/users/tgraham777/following{/other_user}","gists_url":"https://api.github.com/users/tgraham777/gists{/gist_id}","starred_url":"https://api.github.com/users/tgraham777/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tgraham777/subscriptions","organizations_url":"https://api.github.com/users/tgraham777/orgs","repos_url":"https://api.github.com/users/tgraham777/repos","events_url":"https://api.github.com/users/tgraham777/events{/privacy}","received_events_url":"https://api.github.com/users/tgraham777/received_events","type":"User","site_admin":false},"body":"Closes
        #27 \r\nCloses #28 \r\nCloses #29 \r\nCloses #30 ","created_at":"2015-09-11T10:41:10Z","updated_at":"2015-09-11T10:41:13Z","closed_at":"2015-09-11T10:41:13Z","merged_at":"2015-09-11T10:41:13Z","merge_commit_sha":"0cd091ba334af6318c0ce422cba29ec6ad1aa445","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/pulls/32/commits","review_comments_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/pulls/32/comments","review_comment_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/pulls/comments{/number}","comments_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/issues/32/comments","statuses_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/statuses/f2c7208ddb683ffaee335b8de77cda5e35798058","head":{"label":"tgraham777:styling","ref":"styling","sha":"f2c7208ddb683ffaee335b8de77cda5e35798058","user":{"login":"tgraham777","id":10191383,"avatar_url":"https://avatars.githubusercontent.com/u/10191383?v=3","gravatar_id":"","url":"https://api.github.com/users/tgraham777","html_url":"https://github.com/tgraham777","followers_url":"https://api.github.com/users/tgraham777/followers","following_url":"https://api.github.com/users/tgraham777/following{/other_user}","gists_url":"https://api.github.com/users/tgraham777/gists{/gist_id}","starred_url":"https://api.github.com/users/tgraham777/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tgraham777/subscriptions","organizations_url":"https://api.github.com/users/tgraham777/orgs","repos_url":"https://api.github.com/users/tgraham777/repos","events_url":"https://api.github.com/users/tgraham777/events{/privacy}","received_events_url":"https://api.github.com/users/tgraham777/received_events","type":"User","site_admin":false},"repo":{"id":42137496,"name":"git-it-and-quit-it","full_name":"tgraham777/git-it-and-quit-it","owner":{"login":"tgraham777","id":10191383,"avatar_url":"https://avatars.githubusercontent.com/u/10191383?v=3","gravatar_id":"","url":"https://api.github.com/users/tgraham777","html_url":"https://github.com/tgraham777","followers_url":"https://api.github.com/users/tgraham777/followers","following_url":"https://api.github.com/users/tgraham777/following{/other_user}","gists_url":"https://api.github.com/users/tgraham777/gists{/gist_id}","starred_url":"https://api.github.com/users/tgraham777/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tgraham777/subscriptions","organizations_url":"https://api.github.com/users/tgraham777/orgs","repos_url":"https://api.github.com/users/tgraham777/repos","events_url":"https://api.github.com/users/tgraham777/events{/privacy}","received_events_url":"https://api.github.com/users/tgraham777/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/tgraham777/git-it-and-quit-it","description":"","fork":false,"url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it","forks_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/forks","keys_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/keys{/key_id}","collaborators_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/teams","hooks_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/hooks","issue_events_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/issues/events{/number}","events_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/events","assignees_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/assignees{/user}","branches_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/branches{/branch}","tags_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/tags","blobs_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/git/refs{/sha}","trees_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/git/trees{/sha}","statuses_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/statuses/{sha}","languages_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/languages","stargazers_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/stargazers","contributors_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/contributors","subscribers_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/subscribers","subscription_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/subscription","commits_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/commits{/sha}","git_commits_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/git/commits{/sha}","comments_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/comments{/number}","issue_comment_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/issues/comments{/number}","contents_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/contents/{+path}","compare_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/compare/{base}...{head}","merges_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/merges","archive_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/downloads","issues_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/issues{/number}","pulls_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/pulls{/number}","milestones_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/milestones{/number}","notifications_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/labels{/name}","releases_url":"https://api.github.com/repos/tgraham777/git-it-and-quit-it/releases{/id}","created_at":"2015-09-08T20:33:03Z","updated_at":"2015-09-09T21:30:28Z","pushed_at":"2015-09-11T10:41:14Z","git_url":"git://github.com/tgraham777/git-it-and-quit-it.git","ssh_url":"git@github.com:tgraham777/git-it-and-quit-it.git","clone_url":"https://github.com/tgraham777/git-it-and-quit-it.git","svn_url":"https://github.com/tgraham777/git-it-and-quit-it","homepage":null,"size":0,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master"}},"base":{"label":"tgraham777:master","ref":"master","sha":"7923f4e116de22c3a98a2a31128e10124d5ddc20","user":{"login":"tgraham777","id":10191383,"avatar_url":"https://avatars.githubusercontent.com/u/10191383?v=3","gravatar_id":"","url":"https://api.github.com/users/tgraham777","html_url":"https://github.com/tgraham777","followers_url":"https://api.github.com/users/tgraham777/followers","following_url":"https://api.github.com/users/tgraham777/following{/other_user}","gists_url":"https://api.github.com/use[...]
