---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/tgraham777/orgs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1441998414'
      Etag:
      - W/"dd3547b97a3808d2ac9cf9f7232ee6e1"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"login":"turingschool","id":7934292,"url":"https://api.github.com/orgs/turingschool","repos_url":"https://api.github.com/orgs/turingschool/repos","events_url":"https://api.github.com/orgs/turingschool/events","members_url":"https://api.github.com/orgs/turingschool/members{/member}","public_members_url":"https://api.github.com/orgs/turingschool/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/7934292?v=3","description":""}]'
  recorded_at: Fri, 11 Sep 2015 18:06:54 GMT
recorded_with: VCR 2.9.3
