---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/tgraham777/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '1441994451'
      Etag:
      - W/"a43a562c59742cbd3d52d36bac3e5ae1"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"id":36313106,"name":"active-record-sinatra","full_name":"tgraham777/active-record-sinatra","owner":{"login":"tgraham777","id":10191383,"avatar_url":"https://avatars.githubusercontent.com/u/10191383?v=3","gravatar_id":"","url":"https://api.github.com/users/tgraham777","html_url":"https://github.com/tgraham777","followers_url":"https://api.github.com/users/tgraham777/followers","following_url":"https://api.github.com/users/tgraham777/following{/other_user}","gists_url":"https://api.github.com/users/tgraham777/gists{/gist_id}","starred_url":"https://api.github.com/users/tgraham777/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tgraham777/subscriptions","organizations_url":"https://api.github.com/users/tgraham777/orgs","repos_url":"https://api.github.com/users/tgraham777/repos","events_url":"https://api.github.com/users/tgraham777/events{/privacy}","received_events_url":"https://api.github.com/users/tgraham777/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/tgraham777/active-record-sinatra","description":null,"fork":true,"url":"https://api.github.com/repos/tgraham777/active-record-sinatra","forks_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/forks","keys_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/keys{/key_id}","collaborators_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/teams","hooks_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/hooks","issue_events_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/issues/events{/number}","events_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/events","assignees_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/assignees{/user}","branches_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/branches{/branch}","tags_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/tags","blobs_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/git/refs{/sha}","trees_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/git/trees{/sha}","statuses_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/statuses/{sha}","languages_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/languages","stargazers_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/stargazers","contributors_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/contributors","subscribers_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/subscribers","subscription_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/subscription","commits_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/commits{/sha}","git_commits_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/git/commits{/sha}","comments_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/comments{/number}","issue_comment_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/issues/comments{/number}","contents_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/contents/{+path}","compare_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/compare/{base}...{head}","merges_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/merges","archive_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/downloads","issues_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/issues{/number}","pulls_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/pulls{/number}","milestones_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/milestones{/number}","notifications_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/labels{/name}","releases_url":"https://api.github.com/repos/tgraham777/active-record-sinatra/releases{/id}","created_at":"2015-05-26T17:43:59Z","updated_at":"2015-05-26T17:43:59Z","pushed_at":"2015-05-26T15:30:43Z","git_url":"git://github.com/tgraham777/active-record-sinatra.git","ssh_url":"git@github.com:tgraham777/active-record-sinatra.git","clone_url":"https://github.com/tgraham777/active-record-sinatra.git","svn_url":"https://github.com/tgraham777/active-record-sinatra","homepage":null,"size":58,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":41924960,"name":"attendance","full_name":"tgraham777/attendance","owner":{"login":"tgraham777","id":10191383,"avatar_url":"https://avatars.githubusercontent.com/u/10191383?v=3","gravatar_id":"","url":"https://api.github.com/users/tgraham777","html_url":"https://github.com/tgraham777","followers_url":"https://api.github.com/users/tgraham777/followers","following_url":"https://api.github.com/users/tgraham777/following{/other_user}","gists_url":"https://api.github.com/users/tgraham7[...]
