<div class="home-container">
  <h1 class="home">Welcome to Git It & Quit It</h1>
  <h2 class="home", id="tagline">The future of Gitting things done.</h2><br>
  <%= link_to "Login with Github", "/auth/github", class: "btn btn-lg btn-default btn-home", id: "main-button" %>
</div>
