// Example using 'Cerulean' bootswatch

//Import bootstrap-sprockets
@import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/yeti/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body {
  padding-top: 10px;
}

// And finally bootswatch style itself
@import "bootswatch/yeti/bootswatch";

// Whatever application styles you have go last
// @import "base";

img.img-circle.img-thumbnail.home-image {
    border-radius: 50%;
    height: 250px;
}
