// img.img-circle.img-thumbnail.home-image {
//     border-radius: 50%;
//     height: 250px;
// }

// subway: https://unsplash.com/photos/IisDI6liZEM/download
// woman in train station: https://unsplash.com/photos/2TlAsvhqiL0/download

body {
  background-image: image-url("woman_train.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-tagline {
  color: green;
}

.jumbotron.hero-spacer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.home-container {
  text-align: center;
  background-color: #EEE;
  border-style: groove;
  padding-bottom: 15px;
  opacity: 0.8;
  margin-top: 15px;
}

#tagline {
  color: green;
}

#main-button {
  border-style: groove;
  border-width: thin;
  border-radius: 15px;
  border-color: black;
  background-color: green;
  color: #FFF;
  margin-top: -10px;
}

#main-button:hover {
  border-style: groove;
  border-width: thin;
  border-radius: 15px;
  border-color: black;
  background-color: #33AA33;
  color: #FFF;
}

.dashboard-body {
  background-image: none;
}

.jumbotron.hero-spacer {
  background-color: #EEE;
  margin-top: 30px;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bolder;
}

.collapse.navbar-collapse {
  font-size: 15px;
}

#jumbo-text {
  font-size: 50px;
}

.navbar.navbar-inverse.navbar-fixed-top {
  background-color: #449944;
}

.img-circle.img-thumbnail.home-image {
  width: 100px;
  height: 100px;
}

.starred-repo {
  text-align: left;
  padding-left: 10px;
}

#starred {
  color: green;
}

#profile-rep-box {
  height: 540px;
}

#commit-boxes {
  height: 510px;
}

#org-cont-boxes {
  height: 200px;
}

.thumbnail {
  border-width: medium;
  border-radius: 25px;
}
