// img.img-circle.img-thumbnail.home-image {
//     border-radius: 50%;
//     height: 250px;
// }

.header-tagline {
  color: green;
}

.jumbotron.hero-spacer {
  padding-top: 10px;
  padding-bottom: 10px;
}
